*.sdf
*.o
*.a
*.log

proto/lua
proto/csharp
proto/erlang

client/obj
client/Library
client/Temp
client/.vs
client/Assembly-CSharp.csproj
client/Assembly-UnityScript.unityproj
client/client.sln
client/client.userprefs

*.beam
